$roboto: 'Roboto',
sans-serif;
$poppins: 'Poppins',
sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: $poppins;
}

p {
    color: $textColor;
    font-size: 14px;
    line-height: 22.4px;
}